.interest-item {
  padding: 5px 5px;
  position: relative;
}

.interest-item:hover {
  background-color: rgba(128, 189, 255, 0.2);
  color: rgba(128, 189, 255, 1);
}

.interest-item .button {
  display: none;
}

.interest-item:hover .button {
  display: inline;
}

.button {
  cursor: pointer;
  font-size: 0.8rem;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  border: 1px solid rgba(128, 189, 255, 1);
  color: rgba(128, 189, 255, 1);
  background-color: white;
}
